*main*
*~
__pycache__
add_0.py
calculator_1.py
hidden_4.pyc
variable_load_5.py
100-test_lists.py
100-intermediate_testing.py
libPyList.so
libPython.so
103-tests.py
6-max_integer.py
*#*#
my_file_0.txt
my_first_file.txt
file_append.txt
my_list.json
my_dict.json
my_set.json
my_fake.json
add_item.json
10-my_class.py
10-my_class_2.py
10-main_2.py
student.json
Rectangle.json
Square.json
*.pyc
Rectangle.csv
Square.csv
6-model_state.py
6-model_state.sql
*data.js
